 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
 @media (prefers-reduced-motion: no-preference) {
  * {
    scroll-behavior: smooth;
  }
}
body {
  background-color: #eee;
  font-family: 'Lato', sans-serif;
}
a {
  text-decoration: none;
  color: orange;
}
a:hover {
  color: #000;
}
#header-img {
  width: 50vw;
}
header {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;}
  nav > ul {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
  padding-inline-start: 0;
  margin-block: 0;
  height: 100%;
}
nav > ul > li {
  margin: 0 0.2rem;
  padding: 0.2rem;
  display: block;
}
section {
  padding-top: 50px;
}
section {
  width: 100%;
  margin: 0 auto 10px auto;
  max-width: 600px;
  text-align: center;
}
.info input{
display: block;
margin: 13 auto;
}
#submit {
background-color: darkorange;
}
.info [type="submit"]{
  width: 20%;
}
.info [type="email"]{
  width: 30%;
}
